@import url('https://fonts.googleapis.com/css?family=Encode+Sans:400,700|Share:700');
body {
  font-family: 'Encode Sans', sans-serif;
  text-align: center;
  margin: 5vh 10vw 5vh 10vw;
  background-color: #f6ffff;
}
h1 {
  font-family: 'Share', sans-serif;
  font-size: 5em;
  margin:0;
}
h2 {
  font-family: 'Share', sans-serif;
  font-size: 1.5em;
}
.charts-main {
  margin: 5vh 0 5vh 0;
}
span.label {
  color:#383535;
  text-transform: uppercase;
  font-weight: 700;
}
span.label:after {
  content:" ";
}
